{% extends "base.html" %}
{% block title %} {{ content['title'] }} {% endblock %}
{% block header %} {{ super() }}  {% endblock header %}
{% block document %} {{ super() }} {% endblock document %}
{% block content %} {% raw %}
<section id="bookreturn">
  <input type="button" value="Refresh" v-on:click="getAllTransactions"/>
  <input type="button" value="Return Book" v-on:click="issueReturn"/>
  <input type="button" value="Pay Debt" v-on:click="payDebt"/>
</section>
<br>
<section id="issuedbooks">
  <div>
    <vuegrid
      :columns="columns"
      :table_data="table_records"
      :options="table_options"
      :sort-order="sortOrder"
      @sort="sortBy"
      @delete_operation="deleteOperation"
      @update_row="updateRow"
      @add_row="addRow">
    </vuegrid>
  </div>
</section>
<br>
<section id="unpaidreturn">
  <div>
    <vuegrid
      :columns="columns"
      :table_data="table_records"
      :options="table_options"
      :sort-order="sortOrder"
      @sort="sortBy"
      @delete_operation="deleteOperation"
      @update_row="updateRow"
      @add_row="addRow">
    </vuegrid>
  </div>
</section>
{% endraw %}
{% endblock content%}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='returnbooks.js') }}"></script>
{% endblock scripts %}
