{% extends "base.html" %}
{% block title %} {{ content['title'] }} {% endblock %}
{% block header %} {{ super() }}  {% endblock header %}
{% block document %} {{ super() }} {% endblock document %}
{% block content %} {% raw %}
<section>
  <div id="updatebooks">
    <input type="button" value="Save" v-on:click="savedb"/>
  </div>
</section>

<section id='tableapp1'>
  <vuegrid
    :columns="columns"
    :table_data="table_records"
    :options="table_options"
    :sort-order="sortOrder"
    @sort="sortBy"
    @delete_operation="deleteOperation"
    @update_row="updateRow"
    @add_row="addRow">
  </vuegrid>
</section>

{% endraw %}
{% endblock content%}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='updatebooks.js') }}"></script>
{% endblock scripts %}
